[Desktop Entry]
Encoding=UTF-8
Name=Link para Filtrando as consultas de dados 0 / 12 57min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8142/tasks
Icon=text-html
