[Desktop Entry]
Encoding=UTF-8
Name=Link para O papel do DBA 0 / 11 51min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao/section/8465/tasks
Icon=text-html
