[Desktop Entry]
Encoding=UTF-8
Name=Link para Concluído Video O que é Oracle Autonomous Data Base? - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=H4ImmTlMcEo&t=1s
Icon=text-html
