[Desktop Entry]
Encoding=UTF-8
Name=Link para Video Banco de dados como serviço na nuvem- como funciona? - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=tFEHQLX3wXY&t=1s
Icon=text-html
