[Desktop Entry]
Encoding=UTF-8
Name=Link para Video Banco de Dados MySQL com Narciso Junior | Pílulas ONE - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=rXFfntEuIiM
Icon=text-html
