[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Python para Data Science
Type=Link
URL=https://cursos.alura.com.br/course/python-intro
Icon=text-html
