[Desktop Entry]
Encoding=UTF-8
Name=Link para Podcast Data Science e Política na Operação Serenata de Amor – Hipsters #62
Type=Link
URL=https://cursos.alura.com.br/extra/hipsterstech/data-science-e-politica-na-operacao-serenata-de-amor-hipsters-62-a524
Icon=text-html
