[Desktop Entry]
Encoding=UTF-8
Name=Link para ONE | Alumni - Oracle ONE - Br Geral 4 | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/corp/one-alumni-93135-p607828
Icon=text-html
