[Desktop Entry]
Encoding=UTF-8
Name=Link para Lista, repetições e tipo booleano 0 / 9 19min
Type=Link
URL=https://cursos.alura.com.br/course/python-intro/section/10353/tasks
Icon=text-html
