[Desktop Entry]
Encoding=UTF-8
Name=Link para Plano de execução e índices 0 / 17 84min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao/section/8468/tasks
Icon=text-html
