[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Machine Learning com Oracle ADS: produtividade na criação de modelos
Type=Link
URL=https://cursos.alura.com.br/course/machine-learning-oracle-ads-criacao-modelos
Icon=text-html
