[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Machine Learning parte 1: otimização de modelos através de hiperparâmetros
Type=Link
URL=https://cursos.alura.com.br/course/machine-learning-otimizacao-de-modelos-atraves-de-hiperparametros
Icon=text-html
