[Desktop Entry]
Encoding=UTF-8
Name=Link para Mecanismos de armazenamento 0 / 13 55min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao/section/8466/tasks
Icon=text-html
