[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Oracle Cloud Infrastructure: banco de dados e infraestrutura como código
Type=Link
URL=https://cursos.alura.com.br/course/oracle-cloud-infrastructure-dados-infraestrutura-codigo
Icon=text-html
