[Desktop Entry]
Encoding=UTF-8
Name=Link para aqui
Type=Link
URL=https://caelum-online-public.s3.amazonaws.com/1222-mysqlmanipulacaodedados/03/aula-3-arquivos.zip
Icon=application-zip
