[Desktop Entry]
Encoding=UTF-8
Name=Link para Comandos DML: manipulação de dados com MySQL: Aula 3 - Atividade 1 Arquivos necessários para a aula | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dml-manipulacao-de-dados/task/58276
Icon=text-html
