[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Python para Data Science: Funções, Pacotes e Pandas
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas
Icon=text-html
