[Desktop Entry]
Encoding=UTF-8
Name=Link para Python para Data Science: funções, estruturas de dados e exceções | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/python-data-science-funcoes-estruturas-dados-excecoes
Icon=text-html
