[Desktop Entry]
Encoding=UTF-8
Name=Link para t5_Alumni-3_Python_1-2 - Evernote
Type=Link
URL=https://www.evernote.com/client/web?_sourcePage=YYsXlahXYTjiMUD9T65RG_YvRLZ-1eYO3fqfqRu0fynRL_1nukNa4gH1t86pc1SP&__fp=vqfKr80xKkk3yWPvuidLz-TPR6I9Jhx8&hpts=1689268812101&showSwitchService=true&usernameImmutable=false&login=&login=Entrar&login=true&hptsh=2%2Fiyi33vKRZ7fdUb2xv1KUuFc50%3D#?b=aac30a88-43a2-4719-e820-575d8dd923e7&n=9a0b8788-ad97-4316-ac31-ed0c1c220ddc&
Icon=text-html
