[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Data Visualization: explorando com Seaborn
Type=Link
URL=https://cursos.alura.com.br/course/data-visualization-com-seaborn
Icon=text-html
