[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Oracle Cloud Infrastructure: implantação de uma aplicação na nuvem
Type=Link
URL=https://cursos.alura.com.br/course/oracle-cloud-infrastructure-aplicacao-nuvem
Icon=text-html
