[Desktop Entry]
Encoding=UTF-8
Name=Link para Video O que é a Oracle Digital Assistant? - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=GpVDEjbpFpw
Icon=text-html
