[Desktop Entry]
Encoding=UTF-8
Name=Link para Video Python para Data Science com Rafael Dias e Isabella Alvarez | Pílulas ONE - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Osulpg2Y-lA
Icon=text-html
