[Desktop Entry]
Encoding=UTF-8
Name=Link para Exemplos de relatórios 0 / 9 52min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8146/tasks
Icon=text-html
