[Desktop Entry]
Encoding=UTF-8
Name=Link para Plotando com Matplotlib 0 / 7 13min
Type=Link
URL=https://cursos.alura.com.br/course/python-intro/section/10362/tasks
Icon=text-html
