[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Oracle Analytics: visualizando dados
Type=Link
URL=https://cursos.alura.com.br/course/oracle-analytics-visualizando-dados
Icon=text-html
