[Desktop Entry]
Encoding=UTF-8
Name=Link para Alura+ Data Visualization: tipos de visualização
Type=Link
URL=https://cursos.alura.com.br/extra/alura-mais/data-visualization-tipos-de-visualizacao-c1409
Icon=text-html
