[Desktop Entry]
Encoding=UTF-8
Name=Link para Manutenção dos dados nas tabelas 0 / 14 55min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-manipule-dados-com-sql/section/8035/tasks
Icon=text-html
