[Desktop Entry]
Encoding=UTF-8
Name=Link para Alumni-1_SQL-2-1 - Evernote
Type=Link
URL=https://www.evernote.com/client/web?_sourcePage=89JD_v6J_jDiMUD9T65RG_YvRLZ-1eYO3fqfqRu0fynRL_1nukNa4gH1t86pc1SP&__fp=1S7JyvEHOVk3yWPvuidLz-TPR6I9Jhx8&hpts=1687454468640&showSwitchService=true&usernameImmutable=false&login=&login=Entrar&login=true&hptsh=RcdXSXjGcaqcBwWP7zeE%2FJaYz3A%3D#?b=c45e0581-cbdc-4447-8f1d-e9c70ed2a198&n=6cbdb060-6653-4e25-827f-ab5c0d94e08a&
Icon=text-html
