[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Comandos DML: manipulação de dados com MySQL
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dml-manipulacao-de-dados
Icon=text-html
