[Desktop Entry]
Encoding=UTF-8
Name=Link para Inteligência Artificial | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/category/inteligencia-artificial
Icon=text-html
