[Desktop Entry]
Encoding=UTF-8
Name=Link para Alura+ Como instalar o MySQL no Linux
Type=Link
URL=https://cursos.alura.com.br/extra/alura-mais/como-instalar-o-mysql-no-linux-c1158
Icon=text-html
