[Desktop Entry]
Encoding=UTF-8
Name=Link para MySQL :: Download MySQL Installer
Type=Link
URL=https://dev.mysql.com/downloads/installer/
Icon=text-html
