[Desktop Entry]
Encoding=UTF-8
Name=Link para Configurando ambiente e conhecendo o SQL 0 / 8 47min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8141/tasks
Icon=text-html
