[Desktop Entry]
Encoding=UTF-8
Name=Link para Podcast Cloud, transformação e vanguarda com Alexandre Maioral, CEO da Oracle Brasil
Type=Link
URL=https://cursos.alura.com.br/extra/likeaboss/cloud-transformacao-e-vanguarda-com-alexandre-maioral-ceo-da-oracle-brasil-a1595
Icon=text-html
