[Desktop Entry]
Encoding=UTF-8
Name=Link para Funções do MYSQL 0 / 10 53min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8145/tasks
Icon=text-html
