[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação SQL com MySQL Server da Oracle - ONE | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-oracle-mysql-one
Icon=text-html
