[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação ALUMNI ONE - Discord e desconto | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-alumnione
Icon=text-html
