[Desktop Entry]
Encoding=UTF-8
Name=Link para Glossário
Type=Link
URL=https://caelum-online-public.s3.amazonaws.com/oracle-one-fase2/one-br-kit-finalizacao/%5BBR%5D_Gloss%C3%A1rio_ONE%5B1%5D.pdf
Icon=application-pdf
