[Desktop Entry]
Encoding=UTF-8
Name=Link para https://cursos.alura.com.br/formacao-oracle-cloud-infraestructure-one
Type=Link
URL=https://cursos.alura.com.br/formacao-oracle-cloud-infraestructure-one
Icon=text-html
