[Desktop Entry]
Encoding=UTF-8
Name=Link para Rosa
Type=Link
URL=https://caelum-online-public.s3.amazonaws.com/oracle-one-fase2/one-br-kit-finalizacao/BG_ONE_ZOOM_PT_%281%29%5B1%5D.png
Icon=image-png
Name[pt_BR]=Link para desktop Rosa
