[Desktop Entry]
Encoding=UTF-8
Name=Link para Modelo para Post em Redes Sociais.
Type=Link
URL=https://caelum-online-public.s3.amazonaws.com/oracle-one-fase2/one-br-kit-boas-vindas/04.+Kit+Formados/Template+ONE+Aluno+Formado_PT+v2.pptx
Icon=application-vnd.openxmlformats-officedocument.presentationml.presentation
