[Desktop Entry]
Encoding=UTF-8
Name=Link para nesse formulário
Type=Link
URL=https://docs.google.com/forms/d/e/1FAIpQLSfBKn9qtvcHXUverLkzS_XDvMbcQp_2lobuGq1uxO0RG5ZO5A/viewform
Icon=text-html
