[Desktop Entry]
Encoding=UTF-8
Name=Link para Promocode de desconto para Alumni ONE
Type=Link
URL=https://www.alura.com.br/promocao/alumni-one
Icon=text-html
