[Desktop Entry]
Encoding=UTF-8
Name=Link para Adobe Photoshop: conceitos essenciais | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/introducao-photoshop-conceitos-essenciais?preRequirementFrom=ia-photoshop-criando-editando-imagens
Icon=text-html
