[Desktop Entry]
Encoding=UTF-8
Name=Link para IA no Photoshop: criando e editando imagens | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/ia-photoshop-criando-editando-imagens
Icon=text-html
