[Desktop Entry]
Encoding=UTF-8
Name=Link para Inteligência artificial e personas: acelerando o processo de criação | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/inteligencia-artificial-personas-acelerando-processo-criacao
Icon=text-html
