[Desktop Entry]
Encoding=UTF-8
Name=Link para Inteligência Artificial e UX: otimize a construção de um produto digital | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/Inteligencia-artificial-ux-construcao-produto-digital
Icon=text-html
