[Desktop Entry]
Encoding=UTF-8
Name=Link para Alumni-1_SQL-1-2 - Evernote
Type=Link
URL=https://www.evernote.com/client/web?_sourcePage=89JD_v6J_jDiMUD9T65RG_YvRLZ-1eYO3fqfqRu0fynRL_1nukNa4gH1t86pc1SP&__fp=1S7JyvEHOVk3yWPvuidLz-TPR6I9Jhx8&hpts=1687454468640&showSwitchService=true&usernameImmutable=false&login=&login=Entrar&login=true&hptsh=RcdXSXjGcaqcBwWP7zeE%2FJaYz3A%3D#?b=d2e326eb-b703-3c8d-d46b-e9ffedfb4365&n=bee9025d-fcf3-48a3-a855-bd7e378ca4fd&
Icon=text-html
