[Desktop Entry]
Encoding=UTF-8
Name=Link para Alumni-1_SQL-1-1 - Evernote
Type=Link
URL=https://www.evernote.com/client/web?_sourcePage=89JD_v6J_jDiMUD9T65RG_YvRLZ-1eYO3fqfqRu0fynRL_1nukNa4gH1t86pc1SP&__fp=1S7JyvEHOVk3yWPvuidLz-TPR6I9Jhx8&hpts=1687454468640&showSwitchService=true&usernameImmutable=false&login=&login=Entrar&login=true&hptsh=RcdXSXjGcaqcBwWP7zeE%2FJaYz3A%3D#?b=842bdbe3-964a-930d-ecfd-12d620203a65&n=052e8d9f-75c3-4208-8b0d-1d02beccf790&
Icon=text-html
