[Desktop Entry]
Encoding=UTF-8
Name=Link para Manual de Referência do MySQL 4.1 mysql.com https://downloads.mysql.com › docs › refman-4...
Type=Link
URL=https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjW5_6Dzsf_AhXmrJUCHTDjD2AQFnoECBAQAQ&url=https%3A%2F%2Fdownloads.mysql.com%2Fdocs%2Frefman-4.1-pt.a4.pdf&usg=AOvVaw1EP84cPMEHa5Kosxlvm14G
Icon=text-html
