[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Procedures SQL: executando código no MySQL
Type=Link
URL=https://cursos.alura.com.br/course/mysql-procedures
Icon=text-html
