[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Consultas SQL: avançando no SQL com MySQL
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql
Icon=text-html
