[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT com Excel: começando a usar o chatGPT como assistente | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-excel-usar-chatgpt-assistente
Icon=text-html
