[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT com Excel: automação com macros | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-excel-automacao-macros
Icon=text-html
