[Desktop Entry]
Encoding=UTF-8
Name=Link para Machine Learning: utilizando ChatGPT como assistente | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/machine-learning-utilizando-chatgpt-assistente
Icon=text-html
