[Desktop Entry]
Encoding=UTF-8
Name=Link para [ONE BR] Hello, AlumniONE! - Oracle Video Hub
Type=Link
URL=https://videohub.oracle.com/media/%5BONE%20BR%5D%20Hello%2C%20AlumniONE!/1_19il8ihv
Icon=text-html
