[Desktop Entry]
Encoding=UTF-8
Name=Link para (7) Instalação e Configuração do MySQL no Linux Mint 20 e Ubuntu 20.04 | LinkedIn
Type=Link
URL=https://www.linkedin.com/pulse/instala%2525C3%2525A7%2525C3%2525A3o-e-configura%2525C3%2525A7%2525C3%2525A3o-do-mysql-linux-mint-20-ubuntu-yenny-delgado%3FtrackingId=%252Bgoz%252FnFgmMx1UhedlUHuZA%253D%253D/?trackingId=%2Bgoz%2FnFgmMx1UhedlUHuZA%3D%3D
Icon=text-html
