[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso SQL com MySQL: manipule e consulte dados
Type=Link
URL=https://cursos.alura.com.br/course/mysql-manipule-dados-com-sql
Icon=text-html
