[Desktop Entry]
Encoding=UTF-8
Name=Link para Como desinstalar totalmente o MySQL Server do Linux Debian 11 bullseye - Bóson Treinamentos em Ciência e Tecnologia
Type=Link
URL=http://www.bosontreinamentos.com.br/mysql/como-desinstalar-totalmente-o-mysql-server-do-linux-debian-11-bullseye/
Icon=text-html
