[Desktop Entry]
Encoding=UTF-8
Name=Link para Organização do código: Funções e pacotes 1 / 10 21min
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas/section/9320/tasks
Icon=text-html
