[Desktop Entry]
Encoding=UTF-8
Name=Link para Inteligência artificial Generativa: Midjourney e ChatGPT | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/inteligencia-artificial-generativa-midjourney-chatgpt
Icon=text-html
