[Desktop Entry]
Encoding=UTF-8
Name=Link para Manipulando o banco de dados 0 / 14 59min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-manipule-dados-com-sql/section/8033/tasks
Icon=text-html
