[Desktop Entry]
Encoding=UTF-8
Name=Link para MySQL :: MySQL 8.0 Reference Manual :: 13.1.24 DROP DATABASE Statement
Type=Link
URL=https://dev.mysql.com/doc/refman/8.0/en/drop-database.html
Icon=text-html
