[Desktop Entry]
Encoding=UTF-8
Name=Link para Juntando tabelas e consultas 0 / 14 70min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8144/tasks
Icon=text-html
