[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT e JavaScript: construa o jogo Pong | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-javascript-construa-jogo-pong
Icon=text-html
