[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT: desvendando a IA em conversas e suas aplicações | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-desvendando-ia-conversas-aplicacoes
Icon=text-html
