[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT e programação: aumente sua produtividade | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-programacao-aumente-produtividade
Icon=text-html
