[Desktop Entry]
Encoding=UTF-8
Name=Link para ChatGPT: otimizando a qualidade dos resultados | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/chatgpt-otimizando-qualidade-resultados
Icon=text-html
