[Desktop Entry]
Encoding=UTF-8
Name=Link para GitHub Copilot e ChatGPT: impulsionando seu desenvolvimento com IA | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/github-copilot-chatgpt-desenvolvimento-ia
Icon=text-html
