[Desktop Entry]
Encoding=UTF-8
Name=Link para Apresentação dos dados de uma consulta 0 / 14 51min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-consultas-sql/section/8143/tasks
Icon=text-html
