[Desktop Entry]
Encoding=UTF-8
Name=Link para Mapeando dados: Dicionários 1 / 12 23min
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas/section/9319/tasks
Icon=text-html
