[Desktop Entry]
Encoding=UTF-8
Name=Link para     0%     Curso Administração do MySQL: segurança e otimização do banco
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao
Icon=text-html
