[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Python Pandas: tratando e analisando dados
Type=Link
URL=https://cursos.alura.com.br/course/introducao-python-pandas
Icon=text-html
