[Desktop Entry]
Encoding=UTF-8
Name=Link para Backup e recuperação de dados 0 / 17 69min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao/section/8467/tasks
Icon=text-html
