[Desktop Entry]
Encoding=UTF-8
Name=Link para Video OCI com Pedro Christo | Pílulas ONE - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=SG0VBQG1O7o
Icon=text-html
