[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Machine Learning: classificação com SKLearn
Type=Link
URL=https://cursos.alura.com.br/course/machine-learning-introducao-a-classificacao-com-sklearn
Icon=text-html
