[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação Python, Data Science no OCI e Oracle Analytics - ONE | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-data-science-oci-oracle-one
Icon=text-html
