[Desktop Entry]
Encoding=UTF-8
Name=Link para Comandos DML: manipulação de dados com MySQL: Aula 5 - Atividade 1 Campos autoincremento | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dml-manipulacao-de-dados/task/55796
Icon=text-html
