[Desktop Entry]
Encoding=UTF-8
Name=Link para Artigo Desmistificando termos em Machine Learning | Alura
Type=Link
URL=https://www.alura.com.br/artigos/desmistificando-termos-machine-learning?_gl=1*1bi7efs*_ga*NTU0ODA0MjQ5LjE2ODkxODQ5MTg.*_ga_59FP0KYKSM*MTY4OTI0NjUwMy42LjAuMTY4OTI0NjUwNi4wLjAuMA..*_fplc*M2dmOWRvdWczU0NHeFJRVEZZd2dtQ0gzYU9lNlU0OWRkck4wS01TNkw3YnhZcGg4Ykd2JTJCYU5LcGVOcm1qJTJGbmZEVUxJJTJGVk1kbU11d1ZSQ0ltZ0ZuZTlaMFpsMmFsT1d6RlBsdCUyRllISmdXSUklMkIzJTJGNyUyQmVBUTRCM2dmZk9ZUkElM0QlM0Q.
Icon=text-html
