[Desktop Entry]
Encoding=UTF-8
Name=Link para Podcast Big Data e Data Science: pra quê afinal? – Hipsters #73
Type=Link
URL=https://cursos.alura.com.br/extra/hipsterstech/big-data-e-data-science-pra-que-afinal-hipsters-73-a513
Icon=text-html
