[Desktop Entry]
Encoding=UTF-8
Name=Link para Podcast Machine Learning – Hipsters #89
Type=Link
URL=https://cursos.alura.com.br/extra/hipsterstech/machine-learning-hipsters-89-a496
Icon=text-html
