[Desktop Entry]
Encoding=UTF-8
Name=Link para Parâmetros, condicionais e conversão de tipos 0 / 9 12min
Type=Link
URL=https://cursos.alura.com.br/course/python-intro/section/10352/tasks
Icon=text-html
