[Desktop Entry]
Encoding=UTF-8
Name=Link para Listas estáticas: Tuplas 1 / 10 18min
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas/section/9318/tasks
Icon=text-html
