[Desktop Entry]
Encoding=UTF-8
Name=Link para Formação Oracle Cloud Infrastructure - ONE | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/formacao-oracle-cloud-infraestructure-one
Icon=text-html
