[Desktop Entry]
Encoding=UTF-8
Name=Link para Gerenciando usuários e privilégios 0 / 18 60min
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dba-administracao/section/8469/tasks
Icon=text-html
