[Desktop Entry]
Encoding=UTF-8
Name=Link para A biblioteca dos cientistas: Pandas 1 / 17 49min
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas/section/9321/tasks
Icon=text-html
