[Desktop Entry]
Encoding=UTF-8
Name=Link para Comandos DML: manipulação de dados com MySQL: Aula 4 - Atividade 1 Alterando dados da tabela | Alura - Cursos online de tecnologia
Type=Link
URL=https://cursos.alura.com.br/course/mysql-dml-manipulacao-de-dados/task/55791
Icon=text-html
