[Desktop Entry]
Encoding=UTF-8
Name=Link para O sistema de imports 0 / 8 13min
Type=Link
URL=https://cursos.alura.com.br/course/python-intro/section/10360/tasks
Icon=text-html
