[Desktop Entry]
Encoding=UTF-8
Name=Link para Função e linguagem de alto nível 0 / 10 21min
Type=Link
URL=https://cursos.alura.com.br/course/python-intro/section/10351/tasks
Icon=text-html
