[Desktop Entry]
Encoding=UTF-8
Name=Link para Apresentação do curso 1 / 8 14min
Type=Link
URL=https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas/section/9317/tasks
Icon=text-html
