[Desktop Entry]
Encoding=UTF-8
Name=Link para 0% Curso Oracle ADS: análise de dados na nuvem
Type=Link
URL=https://cursos.alura.com.br/course/oracle-ads-analise-dados-nuvem
Icon=text-html
